# Build Maven/Gradle
target/
build/
out/

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# PIT/Pitest reports
target/pit-reports/
